.App {
  text-align: center;
}

button {
  color: white;
  height: 25px;
  font-size: 13px;
  justify-content: center;
  align-items: center;
  background: #516fd1;
  border: none;
  border-radius: 20px;
  padding: 6px;
  box-shadow: 2px 2px 2px 2px hsl(218, 60%, 92%);
  @media screen and (max-width: 800px) {
    font-size: 12px;
  }
}

button:hover {
  transform: scale(1.1);
  color: whitesmoke;
  cursor: pointer;
  font-weight: bold;
  border: 2px 2px 2px 2px goldenrod;
}

input {
  outline: none;
  border: 1px solid rgba(0, 0, 0, 0.179);
  box-shadow: 2px 2px 2px 2px hsl(218, 60%, 92%);
  border: none;
  border-radius: 20px;
  padding: 5px;

}

.choices{

  margin-right: 5px;
  box-shadow: 2px 2px 2px 2px hsl(218, 60%, 92%);
  background: #5579ee;
  border-radius: 20px;
  padding: 8px;
  color: white;

}

.choices:hover {
  transform: scale(1.1);
  color: whitesmoke;
  cursor: pointer;
  font-weight: bold;
  border: 2px 2px 2px 2px goldenrod;
}

.afterAnswer{

  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}